<form #loadForm="ngForm" (ngSubmit)="loadFiles($event, loadForm)">
  <div class="wrapper">
    <mat-form-field>
      <textarea matInput name="old-version" placeholder="Insert an old text version"
                [(ngModel)]="inputService.inputOldText" required></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="new-version" placeholder="Insert a new text version"
                [(ngModel)]="inputService.inputNewText" required></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" class="view-changes-button">Watch changes</button>
</form>
