<button mat-button color="primary" type="button" (click)="openModal()">Side-by-side diff</button>
<table mat-table [dataSource]="table" class="table">
  <ng-container matColumnDef="oldRowNumber">
    <td class="row-number" mat-cell *matCellDef="let element"> {{element.oldRowNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="newRowNumber">
    <td class="row-number" mat-cell *matCellDef="let element"> {{element.newRowNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <td class="text" data-id={{element.id}} mat-cell *matCellDef="let element"
        [class.new-text]="diffService.isNewRow(element.id)" (textSelect)="createMessage($event)" [class.old-text]="diffService.isOldRow(element.id)">
      {{element.text}}
      <div class="comment" *ngIf="hiddenComment[element.id - 1]">
        <button class="icon-button close-button" (click)="closeComment($event, element.id)"><i class="far fa-window-close"></i></button>
        <form class="comment-form" #commentForm="ngForm" (ngSubmit)="loadComment($event, commentForm, element.id)">
          <mat-form-field class="comment-text">
            <input matInput type="text" name="text" placeholder="Enter your comment" ngModel/>
          </mat-form-field>
          <button mat-button type="submit" class="send-comment-button">Add comment</button>
        </form>
      </div>
    </td>
  </ng-container>

  <tr class="row" mat-row *matRowDef="let row; columns: ['oldRowNumber', 'newRowNumber', 'text']">{{row}}</tr>
</table>
