<button mat-button color="primary" type="button" (click)="openModal()">Side-by-side diff</button>
<table mat-table [dataSource]="table" class="table">
  <ng-container matColumnDef="oldRowNumber">
    <td class="row-number" mat-cell *matCellDef="let element"> {{element.oldRowNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="newRowNumber">
    <td class="row-number" mat-cell *matCellDef="let element"> {{element.newRowNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <td class="text" mat-cell *matCellDef="let element"
        [class.new-text]="isNewRow(element.id)" [class.old-text]="isOldRow(element.id)"> {{element.text}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <td class="comment" mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <tr class="row" mat-row *matRowDef="let row; columns: ['oldRowNumber', 'newRowNumber', 'text', 'comment']">{{row}}</tr>
</table>
